{% extends 'base.html.twig' %}

{% block title %}Nouvelle Mesure{% endblock %}

{% block body %}
    <h1>Nouvelle mesure</h1>

    {{ include('mesures/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_mesures_index') }}">Retour à la liste</a>
{% endblock %}
