{% extends 'base.html.twig' %}

{% block title %}New IngredientsByRecette{% endblock %}

{% block body %}
    <h1>Create new IngredientsByRecette</h1>

    {{ include('ingredients_by_recette/_form.html.twig') }}

    <a href="{{ path('app_ingredients_by_recette_index') }}">back to list</a>
{% endblock %}
