{% extends 'base.html.twig' %}

{% block title %}Modifier menus{% endblock %}

{% block body %}
    <h1>Modifier menus</h1>

    {{ include('menus/_form.html.twig', {'button_label': 'Update'}) }}
    
    <div class="col-lg-12 mt-2"> <a  class="btn btn-primary" href="{{ path('app_menus_index') }}">Retour à la liste</a></div>

    {{ include('menus/_delete_form.html.twig') }}
{% endblock %}
