<form method="post" action="{{ path('app_ingredients_delete', {'id': ingredient.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingredient.id) }}">
    <button class="mt-2 btn btn-primary">Supprimer</button>
</form>
