{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie de recettes{% endblock %}

{% block body %}
    <h1>Nouvelle catégorie de recettes</h1>

    {{ include('recettes_categorie/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_recettes_categorie_index') }}">Retour à la liste</a>
{% endblock %}
