{% extends 'base.html.twig' %}

{% block title %}Modifier Recette{% endblock %}

{% block body %}
    <h1>Modifier Recette</h1>

        <div class="col-lg-12 p-3">
    {{ include('recettes/_form.html.twig', {'button_label': 'Modifier'}) }}

        </div>

<div class="col-lg-12 mt-2 "><a  class="btn btn-primary" href="{{ path('app_recettes_index') }}">Retour à la liste</a></div>

    {{ include('recettes/_delete_form.html.twig') }}
{% endblock %}
