<fieldset class="mb-3">
	<legend class="col-form-label required">Ingredients by recettes</legend>
	<div id="recettes_ingredientsByRecettes">
		<fieldset class="mb-3">
			<div id="recettes_ingredientsByRecettes_0">
				<div class="mb-3">
					<label for="recettes_ingredientsByRecettes_0_quantity" class="form-label required">Quantity</label>
                    <input type="number" id="recettes_ingredientsByRecettes_0_quantity" name="recettes[ingredientsByRecettes][0][quantity]" 
                    required="required" class="form-control" value="300">
				</div>
				<div class="mb-3">
					<label class="form-label required" for="recettes_ingredientsByRecettes_0_ingredient">Ingredient</label>
					<select id="recettes_ingredientsByRecettes_0_ingredient" name="recettes[ingredientsByRecettes][0][ingredient]" class="form-select">
						<option value="1">farine t55</option>
						<option value="2" selected="selected">oeuf</option>
						<option value="3">lait</option>
						<option value="4">sucre</option>
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label required" for="recettes_ingredientsByRecettes_0_recette">Recette</label>
					<select id="recettes_ingredientsByRecettes_0_recette" name="recettes[ingredientsByRecettes][0][recette]" class="form-select">
						<option value="1" selected="selected">crêpes</option>
						<option value="2">crêpes</option>
					</select>
				</div>
			</div>
		</fieldset>
		<fieldset class="mb-3">
			<div id="recettes_ingredientsByRecettes_1">
				<div class="mb-3">
					<label for="recettes_ingredientsByRecettes_1_quantity" class="form-label required">Quantity</label><input type="number" id="recettes_ingredientsByRecettes_1_quantity" name="recettes[ingredientsByRecettes][1][quantity]" required="required" class="form-control" value="6">
				</div>
				<div class="mb-3">
					<label class="form-label required" for="recettes_ingredientsByRecettes_1_ingredient">Ingredient</label>
					<select id="recettes_ingredientsByRecettes_1_ingredient" name="recettes[ingredientsByRecettes][1][ingredient]" class="form-select">
						<option value="1" selected="selected">farine t55</option>
						<option value="2">oeuf</option>
						<option value="3">lait</option>
						<option value="4">sucre</option>
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label required" for="recettes_ingredientsByRecettes_1_recette">Recette</label>
					<select id="recettes_ingredientsByRecettes_1_recette" name="recettes[ingredientsByRecettes][1][recette]" class="form-select">
						<option value="1" selected="selected">crêpes</option>
						<option value="2">crêpes</option>
					</select>
				</div>
			</div>
		</fieldset>
		<fieldset class="mb-3">
			<div id="recettes_ingredientsByRecettes_2">
				<div class="mb-3">
					<label for="recettes_ingredientsByRecettes_2_quantity" class="form-label required">Quantity</label><input type="number" id="recettes_ingredientsByRecettes_2_quantity" name="recettes[ingredientsByRecettes][2][quantity]" required="required" class="form-control" value="0">
				</div>
				<div class="mb-3">
					<label class="form-label required" for="recettes_ingredientsByRecettes_2_ingredient">Ingredient</label>
					<select id="recettes_ingredientsByRecettes_2_ingredient" name="recettes[ingredientsByRecettes][2][ingredient]" class="form-select">
						<option value="1" selected="selected">farine t55</option>
						<option value="2">oeuf</option>
						<option value="3">lait</option>
						<option value="4">sucre</option>
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label required" for="recettes_ingredientsByRecettes_2_recette">Recette</label>
					<select id="recettes_ingredientsByRecettes_2_recette" name="recettes[ingredientsByRecettes][2][recette]" class="form-select">
						<option value="1" selected="selected">crêpes</option>
						<option value="2">crêpes</option>
					</select>
				</div>
			</div>
		</fieldset>
		<fieldset class="mb-3">
			<div id="recettes_ingredientsByRecettes_3">
				<div class="mb-3">
					<label for="recettes_ingredientsByRecettes_3_quantity" class="form-label required">Quantity</label><input type="number" id="recettes_ingredientsByRecettes_3_quantity" name="recettes[ingredientsByRecettes][3][quantity]" required="required" class="form-control" value="0">
				</div>
				<div class="mb-3">
					<label class="form-label required" for="recettes_ingredientsByRecettes_3_ingredient">Ingredient</label>
					<select id="recettes_ingredientsByRecettes_3_ingredient" name="recettes[ingredientsByRecettes][3][ingredient]" class="form-select">
						<option value="1" selected="selected">farine t55</option>
						<option value="2">oeuf</option>
						<option value="3">lait</option>
						<option value="4">sucre</option>
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label required" for="recettes_ingredientsByRecettes_3_recette">Recette</label>
					<select id="recettes_ingredientsByRecettes_3_recette" name="recettes[ingredientsByRecettes][3][recette]" class="form-select">
						<option value="1" selected="selected">crêpes</option>
						<option value="2">crêpes</option>
					</select>
				</div>
			</div>
		</fieldset>
	</div>
</fieldset>
