<form method="post" action="{{ path('app_ingredients_categorie_delete', {'id': ingredients_categorie.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette catégorie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingredients_categorie.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
