{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie d'ingrédients{% endblock %}

{% block body %}
    <h1>Nouvelle catégorie d'ingrédients</h1>

    {{ include('ingredients_categorie/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_ingredients_categorie_index') }}">Retour à la liste</a>
{% endblock %}
